In [30]:
from faker import Faker 

fake = Faker()

names = [fake.name().split() for _ in range(100)]
names = [name for name in names if len(name) == 2]

In [31]:
# Database setup
connection = sqlite3.connect('people.db')  # Change to your DB name
cursor = connection.cursor()

In [32]:
# Create table if it doesn't exist
cursor.execute('''
    CREATE TABLE IF NOT EXISTS people (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        sirname TEXT
    )
''')

In [26]:
insert_query = 'INSERT INTO people (name, sirname) VALUES(?,?)'

cursor =connection.cursor()

for name in names:
    cursor.execute(insert_query, name)

connection.commit()

In [41]:
select_query = 'SELECT * FROM people order by name'
countline =1
for res in cursor.execute(select_query):
    if countline<20:
       print(f"First Name = {res[1]}, last name: {res[2]}")
       countline +=1

First Name = Amanda, last name: Erickson
First Name = Angel, last name: Morris
First Name = Billy, last name: Huff
First Name = Brandon, last name: Mora
First Name = Brian, last name: Bryant
First Name = Brianna, last name: Little
First Name = Caleb, last name: Cross
First Name = Cassandra, last name: Potter
First Name = Cassandra, last name: Mccoy
First Name = Charlene, last name: Hoffman
First Name = Colton, last name: Watson
First Name = David, last name: Simmons
First Name = Dean, last name: Robinson
First Name = Debra, last name: Graves
First Name = Dennis, last name: Maldonado
First Name = Destiny, last name: Sullivan
First Name = Devin, last name: Kelly
First Name = Douglas, last name: Roberts
First Name = Douglas, last name: Townsend