# Open a file whitout using Context

In [15]:
sqlFile = open("mysql.sql")
sqlConten = sqlFile.readlines()

# Open file using the context who handle the file closing

In [14]:
with open('mycsv.csv', 'r') as my_csv_file:
    myfileRead = my_csv_file.read()

    print(myfileRead)

id,name,age,city
1,Bob,28,New York
2,Jenn,34,San Francisco
3,Genna,25,Chicago
4,Shayon,30,Boston

# Use Pandas to create a dataFrame

In [20]:
#%pip install pandas
import pandas as pd

df = pd.read_csv('mycsv.csv')

df

   id    name  age           city
0   1     Bob   28       New York
1   2    Jenn   34  San Francisco
2   3   Genna   25        Chicago
3   4  Shayon   30         Boston